.login-main {
  width: 100%;
  height: 100vh;
  background: url('/assets/images/back3.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: #000000;
    opacity: 0.4;
  }
  .container-back {
    position: relative;
    z-index: 2;
    width: 450px;
    min-height: 320px;
    background-color: #e8212180;
    border-radius: 3px;
    isolation: isolate;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 0px 20px #ff1818;
      transition: 0.3s;
    }
    .container {
      position: absolute;
      inset: 0;
      z-index: 10;
      content: '';
      isolation: isolate;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 20px 60px;
      box-shadow: 0px 0px 10px #d04a4a;
      border-radius: 3px;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0px 20px #ff1818;
        transition: 0.3s;
      }
      .container-title {
        width: 100%;
        height: auto;
        h1 {
          color: #fff;
          font-size: 40px;
          letter-spacing: 4px;
        }
      }
      .container-form {
        width: 100%;
        height: auto;
        form {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
          input {
            padding: 3px 0px;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: transparent;
            color: #fff;
            font-weight: 100;
            &::placeholder {
              color: #dbdbdb;
              font-weight: 100;
              letter-spacing: 1px;
              font-size: 16px;
            }
          }
          .decore {
            width: 100%;
            height: 1px;
            background-color: #fff;
            margin-bottom: 30px;
          }
          .btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
              width: 150px;
              height: auto;
              padding: 4px 20px;
              border-radius: 2px;
              font-size: 17px;
              outline: none;
              border: none;
              background-color: #FF5733;
              color: #fff;
              cursor: pointer;
              letter-spacing: 1px;
              transition: 0.3s;
              &:hover {
                background-color: #ff390c;
                transition: 0.3s;
              }
              &:active {
                transition: 0s;
                box-shadow: 0px 0px 2px #fff;
              }
            }
          }
        }
      }
    }
  }
}