<div class="login-main">
  <div class="container-back">
    <div class="container">
      <div class="container-title">
        <h1>REGISTER</h1>
      </div>
      <div class="container-form">
        <form>
          <input type="email" placeholder="Email">
          <div class="decore"></div>
          <input type="password" placeholder="Password">
          <div class="decore"></div>
          <div class="btns">
            <button [routerLink]="'/login'">LOGIN</button>
            <button [routerLink]="'/register'">REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>