<div class="login-app">
  <form (ngSubmit)="submit()" #myForm="ngForm">
    <input type="email" placeholder="Email"
    [(ngModel)]="form.email" name="email" #email="ngModel" required
    >
    <div class="decore"></div>
    <input type="password" placeholder="Password" 
    [(ngModel)]="form.password" name="password" #password="ngModel">
    <div class="decore"></div>
    <div class="btn">
      <button type="submit">Submit</button>
      <p [routerLink]="'/home'">Join as Guest</p>
    </div>
  </form>
</div>