<app-header></app-header>
<div class="about-page-main">
  <div class="container">
    <div class="title">
      <h1>About Website</h1>
    </div>
    <div class="about">
      <p>
        Welcome to GM InnovateTech, where innovation meets technology to create a seamless and efficient online shopping platform. Our web application offers a range of features designed to enhance your shopping experience, from a user-friendly login and registration system to a powerful admin panel for managing products. 
        <br>
        <br>
        Our admin panel is the command center of GM InnovateTech. Once you've logged in, you'll have access to a suite of powerful tools for managing products. From adding new items to removing outdated ones, our system makes it easy to keep your inventory up-to-date. You can also read and update product information seamlessly, ensuring that your customers have the most accurate and compelling details at their fingertips.
        <br>
        <br>
        The synergy between the admin panel and the home page is what sets GM InnovateTech apart. Products added and updated in the admin panel are seamlessly integrated into the user-facing home page. This ensures that your customers always have access to the latest products and information, making their shopping experience more engaging and enjoyable.
        <br>
        <br>
        Experience the future of online shopping with GM InnovateTech. Register now, explore our admin panel, and witness your ideas come to life. Welcome to a new era of e-commerce, where innovation and technology converge to create a shopping experience like no other.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>