<app-header></app-header>
<div class="home-page-main">
  <div class="section" *ngIf="currentContainer">
    <div class="container">
      <div class="title">
        <h1>Revolutionizing Tech: iPhone 15 Unveiled</h1>
      </div>
      <div class="about">
        <p>
          The iPhone 15 marks a groundbreaking leap in mobile technology, <br>
          featuring cutting-edge innovations that redefine the smartphone <br>
          experience. With enhanced performance, stunning design, and groundbreaking <br>
          features, it's set to reshape the industry landscape.
        </p>
      </div>
      <div class="btn">
        <button>Buy now</button>
      </div>
    </div>
  </div>
  <div class="section2" *ngIf="!currentContainer" style="justify-content: left;">
    <div class="container">
      <div class="title">
        <h1>Introducing the New MacBook</h1>
      </div>
      <div class="about">
        <p>
          The latest MacBook is a masterpiece of innovation and design. With powerful <br>
          performance, stunning Retina displays, and exceptional portability, it sets a new standard for <br>
          modern laptops. Experience the future of computing with the new MacBook.
        </p>
      </div>
      <div class="btn">
        <button>Buy now</button>
      </div>
    </div>
  </div>
  <div class="left-btn">
    <button *ngIf="!currentContainer" (click)="currentContainer = true;">
      <img src="/assets/images/arrow.png">
    </button>
  </div>
  <div class="right-btn">
    <button *ngIf="currentContainer" (click)="currentContainer = false;">
      <img src="/assets/images/arrow.png" style="transform: rotate(180deg);">
    </button>
  </div>
</div>
<app-products-list></app-products-list>
<app-footer></app-footer>