<div class="admin-panel-main">
  <div class="header">
    <div class="header-left">
      <h1>GM InnovateTech</h1>
    </div>
    <div class="header-right">
      <ul>
        <li><p>Home</p></li>
        <li><button (click)="userLogout()">Logout</button></li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <div class="section-header-left">
        <h3>Order Catalogue</h3>
        <p>New Items</p>
      </div>
      <div class="section-header-right">
        <div class="search">
          <img [src]="'/assets/images/search-icon.png'"/>
          <input type="search" placeholder="Search">
        </div>
        <div class="btns">
          <button>Fetch New Product</button>
          <button (click)="formWindow = true;">Add New Product</button>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="body-title">
        <p>#</p>
        <p>Product</p>
        <p>Serial Code</p>
        <p>Category</p>
        <p>Price</p>
        <p>Actions</p>
      </div>
      <div class="body-list">
        <ul  *ngFor="let prod of allProducts; index as i" >
          <li><p>{{ i + 1 }}</p></li>
          <li><p>{{ prod.name }}</p></li>
          <li><p>{{ prod.serialCode }}</p></li>
          <li><p>{{ prod.category }}</p></li>
          <li><p>{{ prod.price }}</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-window" *ngIf="formWindow">
    <div class="form-container">
      <div class="fc-title">
        <h1>Product</h1>
      </div>
      <div class="fc-body">
        <form #productsForm="ngForm" (ngSubmit)="onProductCreate(productsForm.value)">
          <!-- title -->
          <input type="text" placeholder="Product Title"
          name="name" ngModel>
          <!-- serial code -->
          <input type="text" placeholder="Serial Code"
          name="serialCode" ngModel>
          <!-- category -->
          <input type="text" placeholder="Category"
          name="category" ngModel>
          <!-- price -->
          <input type="text" placeholder="Price"
          name="price" ngModel>
          <!-- buttons -->
          <div class="btnss">
            <button (click)="formWindow = false;">Cancel</button>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>