.admin-panel-main {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 100px;
    .header-left {
      h1 {
        color: #fff;
        font-size: 40px;
        letter-spacing: 0.5px;
      }
    }
    .header-right {
      ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 100px;
        li {
          list-style: none;
          P {
            color: #fff;
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 0.6px;
            position: relative;
            transition: 0.4s;
            cursor: pointer;
            &::after {
              position: absolute;
              content: '';
              bottom: -4px;
              left: 0;
              right: 0;
              width: 0%;
              height: 2px;
              border-radius: 2px;
              background-color: #fff;
            }
            &:hover::after {
              width: 100%;
              transition: 0.4s;
            }
          }
          button {
            font-size: 20px;
            padding: 4px 10px;
            border: 1px solid #fff;
            border-radius: 4px;
            outline: none;
            color: #fff;
            background-color: #000;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: #353535;
              transition: 0.3s;
            }
            &:active {
              background-color: #000;
              transition: 0s;
            }
          }
        }
      }
    }
  }
  .section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 100px;
    .section-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #000;
      padding: 10px 30px;
      border-radius: 7px;
      .section-header-left {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 40px;
        h3 {
          font-size: 23px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
        p {
          background-color: #8b014d;
          color: #fff;
          font-size: 12px;
          border-radius: 4px;
          padding: 5px 10px;
        }
      }
      .section-header-right {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 80px;
        .search {
          display: flex;
          align-items: center;
          flex-direction: row;
          position: relative;
          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            position: absolute;
            left: 0;
            z-index: -1;
          }
          input {
            border: none;
            outline: none;
            padding: 3px 22px;
            font-size: 16px;
            border-bottom: 1px solid #000;
            background-color: transparent;
          }
        }
        .btns {
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 40px;
          button {
            font-size: 15px;
            padding: 5px 14px;
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            font-weight: 100;
            letter-spacing: 1px;
            &:hover {
              background-color: #353535;
              transition: 0.3s;
            }
            &:active {
              background-color: #000;
              transition: 0s;
            }
          }
        }
      }
    }
    .section-body {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 0px;
      .body-title {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        background-color: #c3c3c3;
        align-items: center;
        padding: 0px 40px;
        p {
          width: 100%;
          flex: 1;
        }
      }
    }
    .body-list {
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      row-gap: 0px;
      ul {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        align-items: center;
        padding: 10px 40px;
        border-bottom: 1px solid #000;
        li {
          list-style: none;
          width: 100%;
          flex: 1;
          P {
            color: #000;
          }
          .btns {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 10px;
            button {
              font-size: 15px;
              padding: 4px 10px;
              border: 1px solid #fff;
              border-radius: 4px;
              outline: none;
              color: #fff;
              background-color: #000;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                background-color: #353535;
                transition: 0.3s;
              }
              &:active {
                background-color: #000;
                transition: 0s;
              }
            }
          }
        }
      }
    }
  }
  .form-window {
    width: 100%;
    height: auto;
    padding: 0px 100px;
    .form-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 30px;
      .fc-title {
        width: 100%;
        height: auto;
        text-align: center;
        h1 {
          color: #000;
        }
      }
      .fc-body {
        width: 100%;
        height: auto;
        form {
          display: flex;
          flex-direction: row;
          column-gap: 30px;
          align-items: center;
          input {
            outline: none;
            border: none;
            border-bottom: 2px solid #8b014d;
            padding: 3px 0px;
            font-size: 18px;
          }
          .btnss {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 30px;
            input,
            button {
              font-size: 15px;
              padding: 5px 14px;
              outline: none;
              border: none;
              border-radius: 4px;
              background-color: #000;
              color: #fff;
              cursor: pointer;
              font-weight: 100;
              letter-spacing: 1px;
              &:hover {
                background-color: #353535;
                transition: 0.3s;
              }
              &:active {
                background-color: #000;
                transition: 0s;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width : 1246px) {
  .admin-panel-main {
    .section {
      padding: 0px 10px;
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 1132px) {
  .admin-panel-main {
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-right {
          column-gap: 30px;
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 1096px) {
  .admin-panel-main {
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
        }
        .body-list {
          ul {
            column-gap: 0px;
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 881px) {
  .admin-panel-main {
    .header {
      padding: 10px 40px;
      .header-left {
        h1 {
          font-size: 30px;
        }
      }
      .header-right {
        ul {
          column-gap: 30px;
        }
      }
    }
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
          padding: 0px 10px;
        }
        .body-list {
          ul {
            column-gap: 0px;
            padding: 10px 10px;
            li {
              p {
                font-size: 15px;
              }
            }
            .btns {
              button {
                padding: 4px 5px;
              }
            }
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 701px) {
  .admin-panel-main {
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
          .search {
            padding-right: 0px;
          }
          .btns {
            column-gap: 10px;
            button {
              letter-spacing: 0px;
              padding: 3px 5px;
            }
          }
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
          padding: 0px 10px;
          .firstp {
            display: none;
          }
        }
        .body-list {
          ul {
            column-gap: 0px;
            padding: 10px 10px;
            .firstli {
              display: none;
            }
            li {
              p {
                font-size: 15px;
              }
            }
            .btns {
              button {
                padding: 4px 5px;
              }
            }
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 596px) {
  .admin-panel-main {
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
          .search {
            padding-right: 0px;
          }
          .btns {
            column-gap: 10px;
            button {
              letter-spacing: 0px;
              padding: 3px 5px;
            }
          }
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
          padding: 0px 10px;
          .firstp {
            display: none;
          }
          .cap {
            display: none;
          }
        }
        .body-list {
          ul {
            column-gap: 0px;
            padding: 10px 10px;
            .firstli {
              display: none;
            }
            .cali {
              display: none;
            }
            li {
              p {
                font-size: 15px;
              }
            }
            .btns {
              button {
                padding: 4px 5px;
              }
            }
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width : 530px) {
  .admin-panel-main {
    .header {
      padding: 10px;
      .header-left {
        h1 {
          font-size: 29px;
        }
      }
      .header-right {
        ul {
          column-gap: 15px;
        }
      }
    }
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
          .search {
            padding-right: 0px;
            img {
              display: none;
            }
            input {
              width: 150px;
              padding-left: 5px;
            }
          }
          .btns {
            column-gap: 10px;
            button {
              letter-spacing: 0px;
              padding: 3px 5px;
            }
          }
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
          padding: 0px 10px;
          .firstp {
            display: none;
          }
          .cap {
            display: none;
          }
        }
        .body-list {
          ul {
            column-gap: 0px;
            padding: 10px 10px;
            .firstli {
              display: none;
            }
            .cali {
              display: none;
            }
            li {
              p {
                font-size: 15px;
              }
            }
            .btns {
              button {
                padding: 4px 5px;
              }
            }
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}

@media (max-width : 461px) {
  .admin-panel-main {
    .header {
      padding: 10px;
      .header-left {
        h1 {
          font-size: 20px;
        }
      }
      .header-right {
        ul {
          column-gap: 15px;
          li {
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
    .section {
      padding: 0px 10px;
      .section-header {
        .section-header-left {
          display: none;
        }
        .section-header-right {
          column-gap: 30px;
          .search {
            padding-right: 0px;
            img {
              display: none;
            }
            input {
              width: 130px;
              padding-left: 5px;
            }
          }
          .btns {
            column-gap: 10px;
            button {
              letter-spacing: 0px;
              padding: 3px 5px;
              font-size: 13px;
            }
          }
        }
      }
      .section-body {
        .body-title {
          column-gap: 0px;
          padding: 0px 10px;
          .firstp {
            display: none;
          }
          .cap {
            display: none;
          }
          .sp {
            display: none;
          }
        }
        .body-list {
          ul {
            column-gap: 0px;
            padding: 10px 10px;
            .firstli {
              display: none;
            }
            .cali {
              display: none;
            }
            .sli {
              display: none
            }
            li {
              p {
                font-size: 15px;
              }
            }
            .btns {
              button {
                padding: 4px 5px;
              }
            }
          }
        }
      }
    }
    .form-window {
      padding: 0px 10px;
      .form-container {
        padding: 10px 15px;
        .fc-body {
          form {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }
  }
}

