<div class="admin-panel-main">
  <div class="header">
    <div class="header-left">
      <h1>GM InnovateTech</h1>
    </div>
    <div class="header-right">
      <ul>
        <li><p [routerLink]="'/home'">Home</p></li>
        <li><button (click)="userLogout()">Logout</button></li>
      </ul>
    </div>
  </div>
  <div class="form-window">
    <div class="form-container">
      <div class="fc-title">
        <h1>Add New Product</h1>
      </div>
      <div class="fc-body">
        <form #productsForm="ngForm" (ngSubmit)="onProductCreate(productsForm.value)">
          <!-- title -->
          <input type="text" placeholder="Product Title"
          name="name" ngModel>
          <!-- serial code -->
          <input type="text" placeholder="Serial Code"
          name="serialCode" ngModel>
          <!-- category -->
          <input type="text" placeholder="Category"
          name="category" ngModel>
          <!-- price -->
          <input type="number" placeholder="Price"
          name="price" ngModel>
          <!-- buttons -->
          <div class="btnss">
            <button (click)="clearForm()">Clear</button>
            <input type="submit" value="{{editMode ? 'Update Product' : 'Add Product'}}">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <div class="section-header-left">
        <h3>Order Catalogue</h3>
        <p>New Items</p>
      </div>
      <div class="section-header-right">
        <div class="search">
          <img [src]="'/assets/images/search-icon.png'"/>
          <input type="search" placeholder="Search"
          [(ngModel)]="searchValue" (input)="searchItem()">
        </div>
        <div class="btns">
          <button (click)="onDeleteAllProducts()">Clear Products</button>
          <button (click)="onProductsFetch()">Fetch Products</button>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="body-title">
        <p>#</p>
        <p>Product</p>
        <p>Serial Code</p>
        <p>Category</p>
        <p>Price</p>
        <p>Actions</p>
      </div>
      <div class="body-list">
        <ul *ngIf="allProducts.length < 1 && !isFetching">
          <li>No Products Avaiable!</li>
        </ul>
        <ul *ngIf="isFetching">
          <li>Loading...</li>
        </ul>
        <ng-container  *ngFor="let prod of allProducts; index as i">
          <ng-container  *ngIf="searchValue === '' || prod.name.toLowerCase().includes(searchValue)">
            <ul>
              <li><p>{{ i + 1 }}</p></li>
              <li><p>{{ prod.name }}</p></li>
              <li><p>{{ prod.serialCode }}</p></li>
              <li><p>{{ prod.category }}</p></li>
              <li><p>{{ prod.price }}$</p></li>
              <li>
                <div class="btns">
                  <button (click)="onEditClicked(prod.id)">Edit</button>
                  <button (click)="onDeleteProduct(prod.id)">Delete</button>
                </div>
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>