<div class="admin-panel-main">
  <div class="header">
    <div class="header-left">
      <h1>GM InnovateTech</h1>
    </div>
    <div class="header-right">
      <ul>
        <li><p>Home</p></li>
        <li><button (click)="userLogout()">Logout</button></li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <div class="section-header-left">
        <h3>Order Catalogue</h3>
        <p>New Items</p>
      </div>
      <div class="section-header-right">
        <div class="search">
          <img [src]="'/assets/images/search-icon.png'"/>
          <input type="search" placeholder="Search">
        </div>
        <div class="btns">
          <button>Fetch New Product</button>
          <button>Add New Product</button>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="body-title">
        <p>#</p>
        <p>Product</p>
        <p>Serial Code</p>
        <p>Category</p>
        <p>Price</p>
        <p>Actions</p>
      </div>
      <div class="body-list">
        <div class="decore"></div>
        <div class="item">
          <p>01</p>
          <p>Iphone 14</p>
          <p>#1213f12</p>
          <p>Phone</p>
          <p>1400$</p>
          <div class="btns">
            <button>Remove</button>
          </div>
        </div>

        <div class="item">
          <p>01</p>
          <p>Iphone 14</p>
          <p>#1213f12</p>
          <p>Phone</p>
          <p>1400$</p>
          <div class="btns">
            <button>Remove</button>
          </div>
        </div>

        <div class="item">
          <p>01</p>
          <p>Iphone 14</p>
          <p>#1213f12</p>
          <p>Phone</p>
          <p>1400$</p>
          <div class="btns">
            <button>Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>