<app-header></app-header>
<div class="contact-page-main">
  <div class="container">
    <div class="portfolio">
      <img src="/assets/images/port.png">
      <h3><a href="https://gmindiashvili-portfolio.web.app/" target="_blank">Portfolio WebSite URL</a></h3>
    </div>
    <div class="linkedin">
      <img src="/assets/images/in.png">
      <h3><a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank">Linkedin URL</a></h3>
    </div>
    <div class="github">
      <img src="/assets/images/git.png">
      <h3><a href="https://github.com/MindiashviliGiorgi" target="_blank">GitHub URL</a></h3>
    </div>
    <div class="gmail">
      <img src="/assets/images/gmail.png">
      <h3>Gmail</h3>
      <p>mindiashvilife@gmail.com</p>
    </div>
  </div>
</div>
<app-footer></app-footer>